.footer {
    background-color: $mainPink;

    // .footer__body
    &__body {
        position: relative;

    }

    &__up {
        position: absolute;
        right: 0;
        bottom: 15px;
        background-color: #EF5959;
        height: 72px;
        width: 72px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 0.3s ease 0s;

        @media (max-width:$mobileSmall) {
            height: 47px;
            width: 47px;
            bottom: 50px;
            img{
                width: 60%;
            }
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: #E25050;
            }
        }

        &:active {
            background-color: #E53838;
        }
    }
}

.body-footer {
    color: #fff;
    padding: 17px 0 160px 0;

    @media (max-width:$mobileSmall) {
        padding: 17px 0 50px 0;
    }

    // .body-footer__rights
    &__rights {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 32px;
        margin-bottom: 13px;

        @media (max-width:$mobileSmall) {
            font-size: 24px;
        }
    }

    // .body-footer__inner
    &__inner {
        display: flex;
        gap: 85px;

        @media (max-width:$mobileSmall) {

            flex-direction: column;
        }

        @media (max-width:$mobile) {
            gap: 30px;
        }
    }

    // .body-footer__nav
    &__nav {}

    // .body-footer__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;
    }

    // .body-footer__item
    &__item {}

    // .body-footer__link
    &__link {
        @media (any-hover: hover) {
            &:hover {

                text-decoration: underline;
            }
        }
    }

    // .body-footer__socials
    &__socials {
        display: flex;
        gap: 20px;
    }
}